{{ define "main" }}
  <div class="max-w-3xl mx-auto sm:text-lg text-slate-700 dark:text-slate-300">
    <div class="flex gap-10 items-start">
      <div
        class="flex flex-col items-center text-center bg-slate-100 rounded-xl p-6  dark:bg-slate-800">
        {{ $img := resources.Get "headshot.jpg" }}
        {{ $img = $img.Fill "300x300" }}
        <img
          class="w-24 h-24 sm:w-36 sm:h-36 rounded-full"
          src="{{ $img.Permalink }}"
          draggable="false"
          alt="profile picture" />
        <h2
          class="font-bold text-nowrap text-slate-900 dark:text-white text-2xl sm:text-3xl mt-4">
          Karl Krauth
        </h2>
        <h3 class="font-medium text-slate-700 dark:text-slate-400 sm:text-lg">
          Bio/ML Researcher
        </h3>
        <ul class="flex gap-3 sm:gap-4 mt-4">
          {{ range site.Params.socialIcons }}
            <li
              class="w-6 h-6 sm:w-7 sm:h-7 text-slate-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400">
              <a
                href="{{ trim .url " " | safeURL }}"
                target="_blank"
                rel="noopener noreferrer me"
                title="{{ (.title | default .name) | title }}"
                style="text-align: center;">
                {{ partial "svg.html" . }}
              </a>
            </li>
          {{- end }}
        </ul>
      </div>
      <div>
        <h2
          class="font-bold text-slate-900 dark:text-white text-2xl sm:text-3xl">
          About
        </h2>
        <div>
          <p>
            I'm a postdoc at Stanford in Polly Fordyce's lab. I create
            microfluidic devices, large-scale datasets, and machine learning
            algorithms to understand molecular biology.
          </p>

          <p>
            I did my PhD in computer science at UC Berkeley with Michael I.
            Jordan, where I studied machine learning systems with a data-centric
            focus.
          </p>
        </div>
      </div>
    </div>
    <hr class="mt-12 mb-12 opacity-5 border-slate-700 dark:border-slate-200" />
    <div>
      <h2 class="font-bold text-slate-900 dark:text-white text-2xl sm:text-3xl">
        Publications
      </h2>
      <ul class="text-sm sm:text-base">
        <40>
        <li>
          <div class="flex items-center">
            <img
              class="w-24 h-24 sm:w-40 sm:h-40"
              src="{{ $img.Permalink }}"
              draggable="false"
              alt="profile picture" />

            <div class="ml-8">
              <p>
                <a
                  class="text-slate-900 dark:text-white font-medium underline hover:text-sky-500 dark:hover:text-sky-400"
                  href="https://www.nature.com/articles/s41467-023-44068-3"
                  >Design automation of microfluidic single and double emulsion
                  droplets with machine learning</a
                >
              </p>
              <p class="mt-1">
                <a
                  href="www.a.com"
                  class="hover:text-sky-500 dark:hover:text-sky-400"
                  >Jiri Hron</a
                >,
                <a
                  href="www.a.com"
                  class="hover:text-sky-500 dark:hover:text-sky-400"
                  >Jiri Hron</a
                >,
                <a
                  href="www.a.com"
                  class="hover:text-sky-500 dark:hover:text-sky-400"
                  >Jiri Hron</a
                >
              </p>

              <p class="mt-1">NeurIPS 2021</p>
              <p class="mt-1">
                A text description of this work blablablabala
                balbalbalablabalbalab labablalba. roejgroiej
                goegjrgijerogijregoi jgeogjreogijre
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{{- end }}{{- /* end main */ -}}
